.CpuCard {
  width: 200px;
  height: 100px;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  border-radius: 7px;
}