.tcp-card {
  width: 230px;
  // height: 110px;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 15px;

  .corename {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
  }

  .core-extralight {
    background-color: #94FF40;
  }
  .text-extralight {
    color: #94FF40;
  }
  .core-light {
    background-color: #B6FF40;
  }
  .text-light {
    color: #B6FF40;
  }
  .core-semilight {
    background-color: #FFEC40;
  }
  .text-semilight {
    color: #FFEC40;
  }
  .core-medium {
    background-color: #E4FF40;
  }
  .text-medium {
    color: #E4FF40;
  }
  .core-semiheavy {
    background-color: #FFB340;
  }
  .text-semiheavy {
    color: #FFB340;
  }
  .core-heavy {
    background-color: #FF7A00;
  }
  .text-heavy {
    color: #FF7A00;
  }
  .core-extraheavy {
    background-color: #FF3D00;
  }
  .text-extraheavy {
    color: #FF3D00;
  }

}