/* HEADER */
.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.title {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
}
.subtitle {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin-left: 10px;
  margin-top: 5px;
  color: #FF005C;
}

/* CONTENT */
.content {
  background-color: #F6F8FA;
}

.section-col-large {
  width: 600px;
  padding: 50px;
  box-sizing: border-box;
}
.section-col-small {
  width: calc(100% - 40px);
  padding: 30px;
  box-sizing: border-box;
  margin: 0 20px;
}
.ping-section {
  background-color: white;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  height: max-content;
}

.section-title {
  background-color: #FF005C;
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding: 0 15px;
}
.section-subtitle {
  background-color: #f3cb00d3;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 0 15px;
}

.cpus-container {
  width: max-content;
  margin-top: 20px;
  /* gap: 20px; */
}
.ram-container {
  width: max-content;
  margin-top: 20px;
}

.log-link {
  font-size: 10px;
  font-weight: 500;
  color: #FF005C;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}


.item {
  width: 4px;
  height: 28px;
  background-color: grey;
}

.item--orange {
  background-color: #f3cb00d3;
}

.item--green {
  background-color: #00f9d8;
}

.item--light-grey {
  background-color: rgb(233, 233, 233);
}

.item--red {
  background-color: #f38600;
}